QWidget#MainWindow{
    background: url(:/resources/images/background.jpg);
    
}
#textTurnTeam{
    font:20pt;
}

QComboBox {
    background: #1E90FF;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 1px 18px 1px 3px;
    min-width: 4em;
}

QGroupBox::title {
  color: white;
}

QTextEdit#textActionGame {
    background:url(:/resources/images/textEditBackground.jpg) 0 0 0 0 center center;
    color: white;
}

.textTurnTeam {
    color: red;
}
